.consultation {
    min-height: 380px;
    padding: 100px 0 92px;
    background: url('./../img/consultation-bg.jpg') center (center/cover) no-repeat;
    color: #fff;
    &__title {
        max-width: 738px;
        margin-bottom: 10px;
    }
    &__description {
        max-width: 370px;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
}

@media (max-width: 768px) {

    .consultation__description {
        font-size: 18px;
        line-height:18px;
    }
}   
@media (max-width: 576px) {
    .consultation {
        padding: 50px 0 50px;   
        &__description {
            font-size: 16px;
            line-height: 16px;
        }     
    }
}             
